@import "bulma.min.css";
@import url('https://fonts.googleapis.com/css?family=Anton|Bitter|Dancing+Script|Fahkwang|Lobster|Montserrat|Pacifico|Slabo+27px|Staatliches');
@import "./fontawesome.min.css";

/* font-family: 'Fahkwang', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Bitter', serif;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive; */

body{
    font-family: 'Bitter', serif;
}

.navbar{
    background-color:rgba(255, 254, 249, 0.7) !important;
    padding: 20px;
    
    
}

.navbar a{
    color: #00a989;
}

.navbar a:hover{
    color:#000;
}

.navbar-brand a{
    color:#00a989 !important;
    font-family: 'Lobster', cursive;
    font-size:2.75rem;
    margin-top: -10px;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 0.1);
}

.logo{
 margin: 0 auto;
}

.hero{
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    
}

.navbar{
    /* margin-top: -281px; */
}
#header{
    background-color:#444;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15em 0 8em 0;
    background-image: url("../images/frontsmall.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    cursor: default;
}

.inner{
    text-align: center;
}

.inner h1{
    font-size:3rem;
    color: #fff;
    margin-bottom: 7%;
    font-family: 'Dancing Script', cursive;
    font-weight:600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.button{
    background-color: #00a989;
    color: #fff;
    text-transform: uppercase;
}

.about{
    text-align: center;
   
}

.about h2{
    font-size: 2.5rem;
    /* margin-bottom: 5%; */

}

.about h3{
    font-size:2rem;
    margin-bottom: 5%;
}

.about h5{
    font-size:1.25rem;
    margin-bottom:3%;
}

.about p{
    font-size:1rem;
    line-height: 1.5rem;
    margin-bottom: 5%;
}

.input{
    width:75%;
}

.icon{
    font-family: sans-serif;
    color: #00a989;
    font-size: 25px;
}

.links a{
    color: #00a989;

}

.links a:hover{
    color: #000;
}

.section{
    margin-bottom: 5%;
}

.image img{
    height:400px;
    width: 100%;
}

.trial{
    padding-left: 10%;
    padding-right:10%;
}

.footer{
    background-image:url("");
    background-size:cover;
    background-position: center;
    background-color: #e6e6e6;
}

.desc{
    margin-top:5%;
    text-align:center;
}

.desc h3{
    font-size:2rem;
}

.desc h6{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3%;
    
}

.desc p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 5%;
}

.footer-info{
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.menu-pg{
    background-image: url("../images/menu-banner.jpg");
    background-position: center;
    background-size: cover;
}

.divider{
    position: relative;
    width: 225px;
    margin: auto;
    height: 15px;
    opacity: 1;
    font-size: 14px;
    line-height: 1.714;
}

.divider .line-before{
    left: 0;
    position: absolute;
    height: 1px;
    background-color:#fff;
    width: 100px;
    font-weight: 500;
}

.divider .dot{
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius:50%;
    border: 1px solid #fff;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.divider .line-after{
    right: 0;
    position: absolute;
    height: 1px;
    background-color: #fff;
    width: 100px;
    font-weight: 500;
}

.menu-page h1{
    font-size:3rem;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight:600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.dir-pg{
    background-image: url("../images/directions-banner.jpg");
    background-position: center;
    background-size: cover;
}

.directions-page h1{
    font-size:3rem;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight:600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.dir{
    text-align: center;
}

.dir h3{
    font-size:2rem;
    margin: 10px 0 30px 0;
}

.dir p{
    font-size: 1.25rem;
    margin-bottom:40px;
}

.dir ul li{
    font-size: .75rem;
    margin: 0px 0px 10px 0px;
}

.ab-pg{
    background-image: url("../images/about-banner.jpg");
    background-position: center;
    background-size: cover;
}

.about-page h1{
    font-size:3rem;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight:600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.cater-pg{
    background-image: url("../images/catering-banner.jpg");
    background-position: center;
    background-size: cover;
}

.catering-page h1{
    font-size:3rem;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight:600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.res-pg{
    background-image: url("../images/reservations-banner.jpg");
    background-position: center;
    background-size: cover;
}

.reservations-page h1{
    font-size:3rem;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight:600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.ord-pg{
    background-image: url("../images/orders-banner.jpg");
    background-position: center;
    background-size: cover;
}

.orders-page h1{
    font-size:3rem;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight:600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.pikaday  {
    position: relative; 
    display: inline-block;
}

.pikaday .fa-calendar {
    color: #666;
    position: absolute;
    left: .6em;
    top: .4em;
    display: inline-block;
}
.pikaday__display {
  padding-left: 1.9em !important;
}

.pika-button {
  .is-today &  {
    color: #444; //AAFP-gray
    background-color: #A7BAC5; //AAFP-blue-tint-50;
  }  
  .is-selected & {
    background-color: #4f758B; //AAFP-blue;
    color: white;
  }
  &:hover {
    background-color: #cf7f00; //AAFP-orange
  }
}

.pika-table th {
    color: #777;
    background-color: white;
    abbr[title] {
      border: none;
      text-decoration: none;
      cursor: default;
    }
}

/** OVERRIDES for AAFP ISSUES **/
.pika-next, .pika-prev, .pika-button {
  box-shadow: none;
}
.pika-button {
  background-color: #dce3e8;
  color: #444;
}
.pika-label {
  font-size: 18px;
  color: #4f758b;
}
.pika-single table tr th:first-child {
  padding-left: 0;
}
.pika-button, .pika-prev, .pika-next {
  border-radius: 0 !important;
}

.pika-table  {
	display:table;
	vertical-align: middle;
	float:none;
	clear:none;	
	
	thead, tbody, th, td, tr {
	float:none;
	clear:none;	
	}
	
	thead {display: table-header-group;}
	tr { display: table-row; border: 0;}
	td, th { display: table-cell; }
	thead { display: table-header-group; }
	tbody { display: table-row-group; }
	tfoot { display: table-footer-group; }	
	th { font-weight: bolder; text-align: center; }	
	td, th, tr { vertical-align: inherit; }
	table { border-spacing: 2px; }
	thead, tbody, tfoot {  vertical-align: middle;}
	td {
		border:0px;
		padding: 0;
		
		&[valign=top]{vertical-align:top}
		&[valign=middle]{vertical-align:middle}
		&[valign=bottom]{vertical-align:bottom}
		&[valign=baseline]{vertical-align:baseline}
		
		p {
			margin:0;
		}
		
		ul, ol {
			padding-bottom: 0;
			margin:0;
		}
		
		.table-head-mobile {
			display:none;
		}
		ol, ul, li, span, div {font-weight:normal;}
		b, strong {color: inherit;}
	}
}		